.fc-footer{
    background-color: #222;
    color: #D8D8D8;
    text-align: center;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.fc-footer p {
    display: flex;
    align-items: center;
}

.fc-footer p img {
    padding: 0 0.4rem;
}

.fc-footer div a {
    padding: 0 1rem;
    color: #D8D8D8;
}