@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url("https://kalakari.netlify.app/main.css");

:root {
  --kalakari-colors-active-bg: #fff;
  --kalakari-colors-active-txt: coral;
  --kalakari-colors-txt: #1d1d1d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

h2 {
  font-size: 1.8rem;
  font-weight: 600;
}

h3 {
  font-size: 1.4rem;
  font-weight: 800;
}

h4 {
  font-size: 1.1rem;
  font-weight: 600;
}

h5 {
  font-size: 1rem;
  font-weight: 400;
  color: #1d1d1d;
}

h6 {
  color: #D8D8D8;
}

.app-header {
  text-align: center;
}

.App {
  background-color: #f7fafc;
}

.container {
  display: grid;
  grid-template-columns: 20% auto;
  grid-template-areas: "filter-area page-content";
}

.filter-area {
  grid-area: filter-area;
  padding-left: 1.5rem;
  background-color: white;
}

.page-content {
  grid-area: page-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem 0;
}

.count-badge {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  background-color: #ff6161;
  border-radius: 0.3rem;
  font-size: 0.7rem;
  padding: 0.1rem 0.3rem;
  /* border: 1px solid white; */
  color: white;
  bottom: 1.5rem;
  left: 2rem;
  -webkit-text-fill-color: white;
}

.empty-cart-wishlist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}

.empty-cart-wishlist-image {
  width: 100%;
  height: auto;
  max-width: 450px;
}

.empty-cart-wishlist p {
  padding: 1rem;
  font-size: 1.5rem;
}